In [50]:
# Importing the dependecies 
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [8]:
# Load dataset to dataframe
data = pd.read_csv("creditcard.csv")
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
# information related to the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
# Check the number of null values in each column 
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [12]:
# Distribution of legit and fraud transactions in the dataset
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [13]:
''' This is a unbalanced dataset as the o values are comparitively more than 1
labels 
0 == Good Transaction 
1 == Fraud Transaction '''

' This is a unbalanced dataset as the o values are comparitively more than 1\nlabels \n0 == Good Transaction \n1 == Fraud Transaction '

In [14]:
# Separate the data for analysis 
good = data[data.Class == 0]
fraud = data[data.Class == 1]

In [16]:
print(good.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [17]:
# Statistical measure of the data

good.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [18]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [19]:
# Compare the values of both goood and fraud

data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [20]:
'''
Under-Sampling :
Build a sample dataset containing simillar distribution containing good and fraud transactions
Number or fraud transaction = 492 & good transaction = 284315
'''

'\nUnder-Sampling :\nBuild a sample dataset containing simillar distribution containing good and fraud transactions\nNumber or fraud transaction = 492 & good transaction = 284315\n'

In [21]:
good_sample = good.sample(n=492)

In [32]:
# Concatenating 2 dataframs good_sample and fraud

new_data = pd.concat([good_sample,fraud],axis = 0)

In [33]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
254190,156621.0,2.000758,0.108448,-1.308582,1.073640,0.342497,-0.555355,0.178029,-0.163680,0.017914,...,0.292852,0.947904,-0.053285,-0.390194,0.314267,-0.420317,0.000697,-0.065628,5.32,0
98002,66478.0,-0.659545,0.401359,2.268492,1.212651,-0.359718,1.342369,-0.322820,0.637867,0.165089,...,0.154170,0.576824,0.019912,-0.314671,-0.640162,-0.285855,0.109475,0.150849,34.50,0
189592,128474.0,1.913465,-0.892030,-1.007111,-1.162106,0.263097,1.513907,-0.970719,0.581487,1.741077,...,-0.133515,-0.197846,0.417592,-2.375790,-0.868163,0.528433,0.020689,-0.072297,15.80,0
55762,47111.0,-1.906996,-1.257033,-1.576938,-0.745364,-0.840329,0.360863,2.886995,0.111761,-1.017325,...,0.556848,0.209645,1.524041,-0.953942,-0.425369,0.777444,-0.011239,0.158858,700.00,0
203643,134904.0,-1.006349,1.102804,0.535806,-0.275886,1.113471,-0.306273,1.860802,-0.168899,-0.961509,...,0.077945,0.204584,-0.596913,-0.411539,1.333165,-0.454630,-0.118441,0.002057,73.33,0

In [34]:
new_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [38]:
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [39]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96946.384146,0.103405,-0.070972,-0.068383,0.058639,0.001707,0.051227,0.047191,0.040249,0.033695,...,-0.036356,-0.012559,0.034591,-0.011054,-0.006995,-0.024427,0.009480,-0.009671,0.018218,96.053760
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [40]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [41]:
# Splitting the data into features and targets

X = new_data.drop(columns = 'Class',axis = 1)
Y = new_data['Class']

In [42]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
254190  156621.0  2.000758  0.108448 -1.308582  1.073640  0.342497 -0.555355
98002    66478.0 -0.659545  0.401359  2.268492  1.212651 -0.359718  1.342369
189592  128474.0  1.913465 -0.892030 -1.007111 -1.162106  0.263097  1.513907
55762    47111.0 -1.906996 -1.257033 -1.576938 -0.745364 -0.840329  0.360863
203643  134904.0 -1.006349  1.102804  0.535806 -0.275886  1.113471 -0.306273
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
254190  0.178029 -0.163680  0.017914  ... -0.258534  0.292852  0.947904
98002  -0.322820  0.637867  0.165089  ... -0.125227  0.154170  0.576824
189592 -0.970719  0.581487  1.741077  ... -0.337576 -0.133515 -0.197846
55762   2.886995  0.111761 -1.017325  ...  1.609723  0.556848  0.209645
203643  1.860802 -0.168899 -0.961509  ... -0.259569  0.077945  0.204584
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
254190 -0.053285 -0.390194  0.314267 -0.420317  0.000697 -0.065628    5.32
98002   0.019912 -0.314671 -0.640162 -0.285855  0.109475  0.150849   34.50
189592  0.417592 -2.375790 -0.868163  0.528433  0.020689 -0.072297   15.80
55762   1.524041 -0.953942 -0.425369  0.777444 -0.011239  0.158858  700.00
203643 -0.596913 -0.411539  1.333165 -0.454630 -0.118441  0.002057   73.33
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [43]:
print(Y)

254190    0
98002     0
189592    0
55762     0
203643    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [46]:
# Split the data into training and testing data 

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify = Y, random_state = 2)

In [47]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [51]:
'''
Model Training : Logistic Regressioin 
'''

model = LogisticRegression()

In [52]:
# Training the LogisticRegression with training data

model.fit(X_train,Y_train)

LogisticRegression()

In [53]:
# Evaluation of the Model based on accuracy score

X_train_prediction = model.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [54]:
print("Accuracy on the training data : ",train_data_accuracy)

Accuracy on the training data :  0.9390088945362135

In [55]:
# Accuracy on test data

X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [56]:
print("Accuracy on the test data : ",test_data_accuracy)

Accuracy on the test data :  0.9238578680203046

In [57]:
print(X_train_prediction)

[0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 1 1 0 0 1 0 1
 0 0 0 0 0 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 1 1 1 1 0 1 0 1 0 1 1 1 0 1 1 1 0
 0 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1
 1 1 0 0 0 1 0 1 1 1 0 1 1 0 1 1 1 0 0 0 1 1 1 1 1 0 1 0 1 0 0 1 1 1 1 0 0
 1 0 0 1 1 1 0 0 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 0 1 1 0 0 0 1 1 0 0 1 0
 1 0 0 1 0 1 0 1 0 0 0 0 1 0 1 0 0 0 1 1 1 1 1 1 0 0 1 1 1 1 0 1 1 1 0 1 1
 0 1 1 1 1 0 1 0 0 0 0 1 1 1 0 0 0 1 0 1 0 1 1 1 0 0 0 0 0 1 0 1 1 1 1 0 0
 1 0 0 1 0 0 0 1 1 1 1 1 1 1 1 0 1 0 0 0 1 0 1 1 0 0 1 0 1 0 0 0 1 0 0 0 1
 1 1 1 0 1 0 1 1 0 1 1 1 1 1 0 0 0 1 0 1 1 0 1 0 1 1 1 1 0 1 0 0 0 0 1 0 0
 0 0 0 0 0 1 1 0 1 1 0 1 0 0 0 0 1 1 1 1 0 1 1 0 1 1 1 1 0 1 1 0 0 1 0 0 0
 0 0 0 1 0 1 0 0 1 1 0 0 0 0 1 1 0 1 1 1 1 1 1 1 0 1 0 0 1 0 1 0 1 0 0 0 0
 1 1 0 0 0 0 0 1 1 0 1 0 1 1 1 0 0 0 0 0 1 0 1 0 1 0 0 1 0 1 1 0 0 1 0 0 1
 1 0 1 0 0 1 0 1 0 1 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 0 1 0 1 1 0 1 0
 0 0 0 1 1 0 1 0 1 1 0 0 0 0 1 1 1 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 0
 1 0 0 1 1 1 1 1 0 0 0 1 0 0 1 0 1 0 1 1 0 1 0 1 1 1 1 0 0 1 1 0 0 0 1 0 0
 1 0 0 1 0 1 0 1 1 0 0 1 1 1 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 1 0 1 1 1 0 0 1
 1 0 0 1 0 0 0 1 1 0 1 0 1 1 0 0 0 0 0 1 0 0 1 1 0 1 1 0 0 0 1 1 0 1 0 0 1
 0 0 1 0 0 1 0 0 1 1 0 1 0 0 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 0 0 0 1 1 0 0 0
 1 0 0 1 0 0 1 0 1 1 0 0 0 1 1 1 0 1 1 0 1 0 1 0 0 1 1 0 1 0 1 1 0 1 1 1 0
 0 0 0 1 1 0 0 0 0 1 1 0 0 1 0 0 1 0 0 1 0 0 0 0 1 1 1 1 1 0 0 0 1 1 1 1 1
 0 1 1 1 1 1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 1 1 0 0 1 1 0 0 1 1 0 1 0
 1 1 0 1 0 0 0 1 1 0]

In [58]:
X_predict = model.predict(X)
c_accuracy = accuracy_score(X_predict,Y)

In [70]:
print(c_accuracy)

0.9359756097560976

In [85]:
X_predict.shape

(984,)

In [74]:
df = pd.DataFrame(X_predict)

In [89]:
df.to_csv('model_output.csv', index=False)

In [91]:
X.to_csv('actual_values_df.csv', index=False)

In [90]:
model_output_df = pd.read_csv('model_output.csv')

In [93]:
actual_values_df = pd.read_csv('actual_values.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'actual_values.csv'

In [92]:
print(model_output_df.shape)
print(actual_values_df.shape)

(984, 1)

NameError: name 'actual_values_df' is not defined