In [3]:
''' This model is to find if the person has diabetes or not (Support Vector Machine) '''

' This model is to find if the person has diabetes or not (Support Vector Machine) '

In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [5]:
'''Data Collection and Analysis'''

'Data Collection and Analysis'

In [6]:
data = pd.read_csv('diabetes.csv')

In [7]:
# 1st 5 values from the dataframe
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
# # Last 5 values from the dataframe
data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [9]:
data.shape

(768, 9)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [13]:
# to get the count of values from the Outcome column
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [14]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [15]:
'''Outcome 0 == non diabetes
           1 == diabetes
'''

'Outcome 0 == non diabetes\n           1 == diabetes\n'

In [16]:
data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [17]:
X = data.drop(columns = 'Outcome',axis=1)
Y = data['Outcome']

In [20]:
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [21]:
'''Data Standardization'''

'Data Standardization'

In [22]:
scaler = StandardScaler()

In [24]:
scaler.fit(X)

StandardScaler()

In [25]:
standardized_data = scaler.transform(X)

In [26]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [27]:
X = standardized_data

In [28]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state = 2)

In [29]:
print(X.shape,X_test.shape)

(768, 8) (154, 8)

In [30]:
'''Training the model'''

'Training the model'

In [36]:
classifier = svm.SVC(kernel='linear')

In [33]:
'''Training the support vector machine classifier'''

'Training the support vector machine classifier'

In [46]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [39]:
'''Model Evaluation
by finding accuracy score'''

'Model Evaluation\nby finding accuracy score'

In [47]:
X_train_predict = classifier.predict(X_train)
train_data_accuracy = accuracy_score(X_train_predict,Y_train)

In [48]:
print('Accuracy Score or train data : ',train_data_accuracy)

Accuracy Score or train data :  0.7866449511400652

In [49]:
X_test_predict = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_predict,Y_test)

In [50]:
print('Accuracy Score or test data : ',test_data_accuracy)

Accuracy Score or test data :  0.7727272727272727

In [51]:
X_Actual_predict = classifier.predict(X)
Actual_data_accuracy = accuracy_score(X_Actual_predict,Y)

In [52]:
print('Accuracy Score or Actual data : ',Actual_data_accuracy)

Accuracy Score or Actual data :  0.7838541666666666

In [53]:
print(type(X),type(X_Actual_predict))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [55]:
'''Making a Predictive system, with example'''

'Making a Predictive system, with example'

In [70]:
input_data = (11,143,94,33,146,36.6,0.254,51)

# change the input to numpy array
input_data_as_numary = np.asarray(input_data)

# Reshape the array for 1 instance 
input_data_reshaped = input_data_as_numary.reshape(1,-1)


std_data = scaler.transform(input_data_reshaped)
print(std_data)

[[ 2.12477957  0.69183807  1.28699125  0.7818138   0.57481223  0.58477051
  -0.65801229  1.51108316]]

/Users/chandrakiran/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [72]:
prediction = classifier.predict(std_data)
if prediction == 0:
    print("Person not diabetic")
else:
    print("Person is diabetic")

Person is diabetic